<!doctype html>
<html>

<head>
    <title>Get Books</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <script src="eijs.min.ijs"></script> -->
    <style type="text/css">
    </style>
</head>

<body>

    <script>
        function runScript() {
            let dataIn = '<%-output.data%>';
            // dataIn = ijSON.parse(dataIn);
            // console.log(dataIn[0]);
            // console.log(dataIn[0].Title);
            // let name = '<%-output.name%>';
            // let age = '<%-output.age%>';
            // document.getElementById('output').innerText = 'Hello ' + name + ' who is ' + age + ' years old';
            // let entry = ijSON.parse(inFile[0]);
            // console.log(entry);
            // console.log( typeof inFile);
            // console.log('from script ' + ijSON.stringify(inFile[0].name));
            // console.log(typeof inFile, Obiject.values(inFile));
            // for (let i=0; i<30; i++){
            // console.log(inFile[i]);
            // }
            // let name = inFile[0].name;
            // console.log('the first entry is:' + name);
        }
    </script>
    
        
        <table>
            <tr> 
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        <%for (let row of output.data){%>
            <tr>
                <td><%=row.Index_Value%></td>
                <td><%=row.Title%></td>
                <td><%=row.Author%></td>
            </tr>
        <%}%>
      
    </table>
</body>

</html>